/.nyc_output
/coverage
node_modules/
bin/test
bin/trax
dist/
old/
misc/
.idea/
.DS_STORE
._.DS_STORE
.yarnclean
.rpt2_cache
yarn-error.log

/test/webpack/test.specs.js
/test/rollup/test.specs.js

/compiler
/typings 
/runtime
/rollup-plugin
/webpack-loader
